* {
  margin: 0;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  #nav-bar {
    flex-direction: column;
  }
}

#header-img {
  width: 200px;
  display: block;
  margin: 4rem auto;
}

#navbar {
  display: flex;
  justify-content: space-around;
}
